.conclusion {
  margin-top: 120px;
  margin-bottom: 180px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__item {
    max-width: 70px;

    img {
      width: 100%;
      height: auto;
    }
  }
}