.form {
  margin-top: 220px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }

  &__icon {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 80px;
  }

  .icon__item {
    background: var(--second-color);
    width: 350px;
    height: auto;
    padding: 30px;
    border-radius: var(--border-radius-large);
  }

  .icon__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .icon__icon {
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px var(--first-color));
  }
}

@media screen and (max-width: 1340px) and (min-width: 320px) {
  .form__container,
  .form__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .form__icon {
    gap: 30px;

    .icon__item {
      width: 300px;
    }
  }
}

@media screen and (max-width: 380px) {
  .form__icon {
    gap: 20px;

    .icon__item {
      width: 240px;
    }
  }
}