.security {
  margin-top: 180px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;

    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: 700;
      color: var(--first-color);
    }
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 50px;
  }

  &__item {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: var(--border-radius-small);
  }

  &__content-title {
    color: var(--black);
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__content-text {
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
    max-width: 600px;
    width: 100%;
  }
}

.security__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.div1 {
  grid-column: span 2 / span 2;
  width: 840px;
  height: 180px;
  background: var(--first-color);

  span, p {
    color: var(--white);
  }
}

.div2 {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
  width: 840px;
  height: 180px;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  width: 840px;
  height: 180px;
  background: var(--first-color);

  span, p {
    color: var(--white);
  }
}

.div4 {
  grid-column-start: 3;
  grid-row-start: 1;
  width: 400px;
  height: 180px;
}

.div5 {
  grid-column-start: 4;
  grid-row-start: 1;
  width: 400px;
  height: 180px;
  background: var(--first-color);

  span, p {
    color: var(--white);
  }
}

.div6 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
  width: 840px;
  height: 180px;
}

.div7 {
  grid-column-start: 3;
  grid-row-start: 3;
  width: 400px;
  height: 180px;
}

.div8 {
  grid-column-start: 4;
  grid-row-start: 3;
  width: 400px;
  height: 180px;
}

@media (max-width: 1780px) and (min-width: 320px) {
  .security__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .security__item {
    width: 100%;
    max-width: 840px;
  }

  .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .security__title {
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 30px;
  }

  .security__text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .security__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .security__item {
    padding: 8px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .security__content-title {
    font-size: 18px;
    line-height: 24px;
  }

  .security__content-text {
    font-size: 16px;
    line-height: 20px;
  }

  .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .security__title {
    font-size: 32px;
  }

  .security__text {
    font-size: 18px;
    line-height: 20px;
  }
}
