.windows {
  margin-top: 120px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  &__download {
    display: flex;
    align-items: center;
    gap: 5px;

    &--link {
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
    }

    img {
      width: 100%;
      max-width: 60px;
    }
  }

  //update
  .content__update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .content__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }

  .content__text {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 28px;
  }

  .content__img {
    max-width: 70vw;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--border-radius-large);
    }
  }

  .content__list {
    list-style: none;
    counter-reset: line;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > li {
      position: relative;
      margin-bottom: 1.5em;
      padding-left: 2.5em;
      font-size: 18px;
      line-height: 26px;
      color: var(--white);
      transition: color 0.3s ease;

      &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: var(--first-color);
        border-radius: 50%;
        color: #fff;
        text-align: center;
        line-height: 32px;
        font-size: 0.9rem;
        font-weight: bold;
        counter-increment: line;
        content: counter(line);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
      }
    }
  }

  .content__item {
    span {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: var(--first-color);
    }
  }
}

@media screen and (max-width: 992px) {
  .windows {
    img {
      display: none;
    }
  }
}