.reviews {
  margin-top: 120px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__subtitle {
    margin-bottom: 80px;
    font-size: 22px;
    line-height: 32px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .reviews__item {
      padding: 16px;
      border: 1px solid #ddd;
      border-radius: var(--border-radius-large);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:nth-child(2) .item__img {
        filter: invert(1);
      }

      .item__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;

        .item__img {
          margin-left: 8px;
          width: 52px;
          height: 52px;
        }

        span {
          font-weight: 500;
          font-size: 32px;
          line-height: 42px;
          margin-bottom: 15px;
          display: block;
          margin-top: 10px;
        }
      }

      .item__text {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}