.drivers {
  margin-top: 120px;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
    }
  }

  &__list {
    list-style: none;
    counter-reset: line;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      font-size: 20px;
      color: var(--first-color);
      font-weight: 700;
    }

    > li {
      position: relative;
      margin-bottom: 1.5em;
      padding-left: 2.5em;
      font-size: 18px;
      line-height: 26px;
      color: var(--white);
      transition: color 0.3s ease;
      
      &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: var(--first-color);
        border-radius: 50%;
        color: #fff;
        text-align: center;
        line-height: 32px;
        font-size: 0.9rem;
        font-weight: bold;
        counter-increment: line;
        content: counter(line);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
      }
    }
  }
}