html,
body {
  overflow-x: clip;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  background: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p {
  color: var(--white);
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: clamp(48px, 5vw, 82px);
}

span {
  font-weight: 500;
  font-size: clamp(18px, 2vw, 28px);
}

a,
p,
li {
  font-weight: 400;
  font-size: clamp(16px, 1vw, 26px);
}

.container {
  @include container;
}

/* Анимация исчезновения загрузочного экрана */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

/* Скрываем основной контент, пока идет загрузка */
.hidden {
  opacity: 0;
}

/* Плавное появление основного контента (без сдвига!) */
.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
