:root {
  --containerWidth: 1680px;
  --containerPadding: 20px;

  --breakpoint1200: 1200px;
  --breakpoint992: 992px;
  --breakpoint768: 768px;
  --breakpoint586: 586px;
  --breakpoint480: 480px;
  --breakpoint320: 320px;

  --white: #ffffff;
  --black: #000000;
  --background-color: #171717;
  --first-color: #3485EC;
  --second-color: #202020;

  --border-radius-small: 15px;
  --border-radius-large: 25px;

  --transition-speed: 0.3s ease-in-out;

  --font: 'Nunito', sans-serif;
}

@mixin container {
  max-width: var(--containerWidth);
  padding: 0 var(--containerPadding);
  align-items: center;
  margin: 0 auto;
}