@charset "UTF-8";
.recleaner {
  margin-top: 120px;
  color: var(--white);
}
.recleaner__container {
  position: relative;
  width: 85%;
  max-width: 980px;
  height: 90vh;
  overflow: hidden;
  border-radius: var(--border-radius-large);
  border: 1px solid var(--white);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto; /* Центрируем */
  padding: 20px;
}
.recleaner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.4;
  border-radius: var(--border-radius-large);
  filter: blur(13px);
}
.recleaner__author {
  margin-bottom: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgba(227, 228, 237, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 10px;
}
.recleaner__author span {
  font-weight: 700;
  text-transform: uppercase;
}
.recleaner__title {
  text-wrap: balance;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.recleaner__title span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: var(--first-color);
}
.recleaner__btn-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  color: var(--black);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 12px;
  border-radius: var(--border-radius-large);
  cursor: pointer;
  transition: background 0.3s ease;
  overflow: hidden;
}
.recleaner__btn-content.loading {
  background: var(--first-color);
  color: var(--white);
}
.recleaner .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: #D32F2F;
  width: 0%;
  transition: width 3s ease;
}
@keyframes progress-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.recleaner .recleaner__open {
  display: flex;
  align-items: center;
  background: var(--white);
  padding: 10px;
  border-radius: var(--border-radius-large);
  transition: var(--transition-speed);
}
.recleaner .recleaner__open:hover {
  background: var(--first-color);
  transition: var(--transition-speed);
}
.recleaner .recleaner__open:hover span {
  color: var(--white);
}
.recleaner .recleaner__open:hover img {
  filter: invert(1);
}
.recleaner .recleaner__open span {
  color: var(--black);
  margin-right: 10px;
}
.recleaner .recleaner__open img {
  width: 40px;
  height: auto;
}
.recleaner__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.recleaner__content-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: var(--border-radius-large);
}
.recleaner__content--text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}
.recleaner__content--btn {
  display: flex;
  align-items: center;
  background: var(--white);
  padding: 10px;
  border-radius: var(--border-radius-large);
  transition: var(--transition-speed);
}
.recleaner__content--btn span {
  color: var(--black);
  margin-right: 10px;
}
.recleaner__content--btn img {
  width: 40px;
  height: auto;
  filter: invert(1);
}
.recleaner__content--btn:hover {
  background: var(--first-color);
  transition: var(--transition-speed);
}
.recleaner__content--btn:hover span {
  color: var(--white);
}
.recleaner__content--btn:hover img {
  filter: invert(0);
}
.recleaner__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.recleaner__item {
  max-width: 60px;
  width: 100%;
  height: auto;
  border: 1px solid var(--white);
  padding: 10px;
  border-radius: var(--border-radius-large);
  transition: var(--transition-speed);
}
.recleaner__item:hover {
  background: var(--white);
  transition: var(--transition-speed);
}
.recleaner__item:hover img {
  filter: invert(1);
}
.recleaner__item img {
  width: 100%;
  transition: filter 0.3s ease;
}
.recleaner__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}
.recleaner__modal .recleaner__social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 10px;
  margin-top: 30px;
}
.recleaner__modal .recleaner__social .recleaner__item {
  border: 1px solid var(--black);
  transition: var(--transition-speed);
}
.recleaner__modal .recleaner__social .recleaner__item:hover {
  transition: var(--transition-speed);
  background: var(--black);
}
.recleaner__modal .recleaner__social .recleaner__item:hover img {
  filter: invert(0);
}
.recleaner__modal .recleaner__social img {
  filter: invert(1);
}
.recleaner__modal-title {
  color: var(--black);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  display: inline-block;
}
.recleaner__modal-title span {
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  color: var(--first-color);
  text-transform: uppercase;
}
.recleaner__modal-text {
  color: var(--black);
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}
.recleaner__modal-text span {
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  color: var(--first-color);
}
.recleaner__modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 400px;
  max-width: 90%;
  overflow-y: scroll;
  max-height: 80vh;
}
.recleaner__modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Адаптив */
@media screen and (max-width: 992px) {
  .recleaner__container {
    height: auto;
    padding: 15px;
  }
  .recleaner__content--text {
    font-size: 18px;
    line-height: 22px;
  }
  .recleaner__content--btn {
    font-size: 18px;
    padding: 10px;
  }
  .recleaner__social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .recleaner__container {
    max-width: 95%;
    height: auto;
    padding: 10px;
  }
  .recleaner__title {
    font-size: 22px;
  }
  .recleaner__content--text {
    font-size: 16px;
    line-height: 20px;
  }
  .recleaner__content--btn {
    font-size: 16px;
    padding: 8px;
  }
}

/*# sourceMappingURL=Recleaner.css.map */
