.recleaner {
  margin-top: 120px;
}
.recleaner .recleaner__container {
  border: 2px solid var(--white);
  padding: 100px;
  border-radius: var(--border-radius-large);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  max-width: 1320px;
}
.recleaner__title {
  text-align: left;
  font-size: 62px;
  margin-bottom: 80px;
}
.recleaner__title span {
  color: var(--first-color);
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.recleaner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  margin-bottom: 20px;
}
.recleaner__content-img {
  max-width: 350px;
}
.recleaner__content-img img {
  width: 100%;
  border-radius: 50%;
}
.recleaner__content--title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.recleaner__content--text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 35px;
}
.recleaner__content--text span {
  color: var(--first-color);
  font-weight: 500;
  font-size: 22px;
}
.recleaner__content--btn {
  background: var(--white);
  max-width: 300px;
  width: 100%;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  border-radius: var(--border-radius-large);
  transition: var(--transition-speed);
}
.recleaner__content--btn:hover {
  transition: var(--transition-speed);
  background: var(--first-color);
  color: var(--white);
}
.recleaner__social {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  gap: 30px;
  width: 100%;
  border-radius: var(--border-radius-large);
  margin-left: 72px;
}
.recleaner__social .recleaner__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  padding: 12px;
  border-radius: var(--border-radius-large);
  width: 80px;
  height: auto;
  transition: var(--transition-speed);
}
.recleaner__social .recleaner__item img {
  width: 62px;
  height: auto;
  object-fit: contain;
}
.recleaner__social .recleaner__item:hover {
  background: var(--first-color);
}

@media screen and (max-width: 992px) {
  .recleaner__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recleaner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .recleaner__social {
    margin-left: 0;
    margin-top: 30px;
  }
  .recleaner__content-img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .recleaner .recleaner__container {
    padding: 50px;
  }
}
@media screen and (max-width: 480px) {
  .recleaner .recleaner__container {
    padding: 30px;
  }
  .recleaner__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recleaner__content--btn {
    padding: 15px 60px;
  }
}
@media screen and (max-width: 420px) {
  .recleaner .recleaner__container {
    padding: 20px;
  }
  .recleaner__title {
    font-size: 58px;
    line-height: 62px;
    margin-bottom: 30px;
  }
  .recleaner__content--title {
    font-size: 42px;
    line-height: 52px;
  }
  .recleaner__content--text {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 370px) {
  .recleaner__title {
    font-size: 42px;
    line-height: 48px;
  }
  .recleaner__content--title {
    font-size: 38px;
    line-height: 42px;
  }
}

/*# sourceMappingURL=Recleaner.css.map */
