.contact {
  margin-top: 50px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__text {
    font-size: 42px;
  }

  .about__img {
    width: 70px;
  }
}