.header {
  padding-top: 20px;
  padding-bottom: 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: var(--border-radius-large);
    padding: 15px 35px;
  }

  &__logo {
    .logo {
      font-weight: 400;
      font-size: 32px;
      color: var(--black);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 5px;

    .icons__item {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    z-index: 4;
    position: fixed;
    inset: 0;
    height: 30px;
    padding: 0;
    margin: 0;

    &__container {
      border-radius: 0;
    }
  }
  .header__icons {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .header__logo {
    .logo {
      font-size: 24px;
    }
  }
}