.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .burger {
    display: none;
    margin: 20px auto;
    width: 20px;
    height: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1001;

    span {
      background-color: var(--white);
      height: 3px;
      position: absolute;
      width: 30px;
      left: 0;
      transition: all 0.3s ease;
      border-radius: var(--border-radius-large);

      &:active {
        background-color: var(--white);
      }

      &:first-child {
        top: -2px;
      }

      &:nth-child(2) {
        top: 6px;
      }

      &:last-child {
        top: 14px;
      }
    }

    &:active {
      span:first-child {
        top: 0;
      }

      span:nth-child(2) {
        top: 6px;
        opacity: 0;
      }

      span:last-child {
        top: 12px;
        width: 30px;
      }
    }

    &.open {
      span {
        background-color: var(--white);
      }

      span:first-child {
        top: 6px;
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:last-child {
        top: 6px;
        transform: rotate(-45deg);
      }
    }
  }

  .header__list {
    display: flex;
    align-items: center;
    gap: 25px;

    .header__link {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      transition: var(--transition-speed);
      color: var(--white);
      text-decoration: none;
      padding: 10px;
      background: none;
      border-radius: var(--border-radius-large);
      @media (hover: hover) {
        &:hover {
          background: var(--white);
          color: var(--black);
          padding: 10px;
          border-radius: var(--border-radius-small);
          transition: var(--transition-speed);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header__menu {
    .burger {
      display: flex;
    }

    .header__list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.9);
      transform: translateY(-100%);
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      justify-content: center;
      align-items: center;
      text-align: center;
      pointer-events: none;
      box-sizing: border-box;

      &.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        .header__link {
          font-size: 20px;
          line-height: 24px;
          color: var(--white);
          margin: 20px 0;
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .header__menu {
    .header__list {
      width: 100%;
    }
  }
}