.tabs__container {
  background: var(--white);
  display: flex;
  padding-top: 30px;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
}
.tabs__content-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}
.tabs__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: inline-block;
}
.tabs__title {
  font-size: 90px;
  line-height: 102px;
  margin-bottom: 50px;
}
.tabs__title span {
  color: var(--first-color);
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
}
.tabs__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 50px;
}

.tabs__btn {
  padding: 20px 5vw;
  gap: 5px;
  background: none;
  border: 1px solid var(--black);
  border-radius: 15px;
  color: var(--black);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}
.tabs__btn:hover {
  background: var(--first-color);
  color: var(--white);
}
.tabs__btn.active {
  background: var(--first-color);
  color: var(--white);
  box-shadow: 0px 0px 35px rgba(0, 79, 255, 0.5);
}
.tabs__btn:hover .tabs__btn-img, .tabs__btn.active .tabs__btn-img {
  filter: invert(1);
}

.tabs__content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.tabs__content-img {
  max-width: 600px;
}
.tabs__content-img img {
  width: 100%;
  border-radius: 10px;
}

.tabs__content-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 58px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--black);
}

.tabs__content-text {
  color: var(--black);
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
.tabs__content-text:last-child {
  margin-top: 30px;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: var(--second-color);
  display: block;
  border-radius: 15px;
  position: relative;
  transition: background 0.3s;
  margin-bottom: 20px;
  margin-top: 20px;
}
label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  transition: left 0.3s;
}

.tab__price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price__text {
  color: var(--black);
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  margin-top: 15px;
}

input:checked + label {
  background: var(--first-color);
  transition: 0.3s ease;
}
input:checked + label:hover {
  transition: 0.3s ease;
  box-shadow: 0px 0px 15px 0px rgba(0, 79, 255, 0.5);
}

input:checked + label:after {
  left: calc(100% - 27px);
}

@media screen and (max-width: 2560px) {
  .tabs__container {
    padding: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .tabs__content-btn {
    gap: 1vw;
  }
  .tabs__container {
    padding: 5vw;
  }
}
@media screen and (max-width: 992px) {
  .tabs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .tabs__content {
    padding: 10px;
  }
  .tabs__content-btn {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .tabs__content-item {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 520px) {
  .tabs__title {
    font-size: 62px;
    line-height: 72px;
  }
}
@media screen and (max-width: 420px) {
  .tabs__content-title {
    font-size: 22px;
    line-height: 26px;
  }
  .tabs__content-text {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
  .tabs__content-text:last-child {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .tabs__content-img {
    max-width: 100%;
    width: 280px;
    height: auto;
    margin: 0 auto;
  }
  .tabs__container, .tabs__content {
    padding: 10px;
  }
  .tabs__btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 360px) {
  .tabs__title {
    font-size: 52px;
    line-height: 62px;
  }
}
@media screen and (max-width: 340px) {
  .tabs__content-title {
    font-size: 18px;
    line-height: 24px;
  }
  .tabs__content-content {
    padding: 10px;
  }
}/*# sourceMappingURL=Tab.css.map */