.testimonial {
  margin-top: 120px;
  margin-bottom: 120px;
}

.testimonial__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.testimonial__title {
  margin-bottom: 80px;
}

.testimonial__content-content {
  height: auto;
  max-width: 850px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border: 1px solid var(--white);
  padding: 30px;
  border-radius: var(--border-radius-large);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.testimonial__content-title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}

.testimonial__text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.progress-bar {
  width: 100%;
  max-width: 800px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 5px;
  margin-bottom: 20px;
}

.progress {
  height: 100%;
  background-color: var(--first-color);
  transition: width 1s ease-in-out;
}

@media screen and (max-width: 992px) {
  .testimonial__container, .testimonial__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 370px) {
  .testimonial__content-content {
    max-width: 250px;
  }
}
