.software {
  margin-top: 120px;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 30px;
  }

  &__content{
    display: flex;
    flex-wrap: wrap;

    &--title {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      border-bottom: 2px solid var(--first-color);
      margin-bottom: 10%;
      display: inline-block;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid var(--first-color);
    padding: 30px;
    border-radius: var(--border-radius-large);
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 992px) {
  .software__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}