.review-slider {
  padding: 40px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 999px;
    width: 30px;
    height: 30px;
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
    margin-left: 20px;

    &:hover {
      background: var(--white);
      color: var(--black);
      transition: all 0.3s ease;
    }

    &::after {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 270px;
    background: var(--white);
    padding: 10px;
    border-radius: var(--border-radius-small);

    &__title {
      display: flex;
      align-items: center;
      gap: 5px;
      max-width: 25px;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: var(--black);
      margin-bottom: 30px;
    }

    &__img {
      width: 30px;
      height: 30px;
    }

    &__name {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: var(--black);
    }

    &__text {
      color: var(--black);
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 992px) {
  .review-slider {
    display: none;
  }
}
