.widgetBot {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
  margin-top: 100px;
  margin-left: 25vw;

  &__title {
    margin-bottom: 50px;
  }
}

.WidgetBotEmbed {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  border-radius: var(--border-radius-large);
}

@media screen and (max-width: 992px){
  .widgetBot {
    margin-left: 0;
  }
}